{% extends 'home.html' %}
{% block content %}
<div id="root">
    <div class="form">
        <form method="POST" enctype="multipart/form-data">
            <p>Автор: {{ author }}</p>
            <input type="hidden" name="author" value="{{ author }}"/>
            <input class="form__input" type="text" min="5"
               name="title" value="{{ title }}" placeholder="Название блюда"/>
            {% for type in types %}
            <p><input class="form__input" type="radio"
               name="type" value="{{ type }}"/>{{ type }}</p>
            {% endfor %}
            <input class="form__input" type="text"
               name="description" placeholder="Краткое описание блюда"/>
            <input class="form__input" type="text"
               name="cooking_steps" placeholder="Шаги приготовления"/>
            <input class="form__input" type="text"
               name="photo" placeholder="Ссылка на фотографию блюда"/>
            <input class="form__input" type="text"
               name="tags" placeholder="Теги (через запятую)"/>
            <button class="form__button" type="submit">Добавить рецепт</button>
            {% if msg %}
            <p class="uk-text-danger">{{ msg.error_msg }}</p>

            {% endif %}
        </form>
    </div>
    <div id="messages">

    </div>
</div>
{% endblock %}